<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gx.dao.AccountMapper">

    <update id="updaTetransfermoneyBySourceId" >
        UPDATE transfermoney  set balance = balance - #{count} where userId=#{id}
    </update>

    <update id="updaTetransfermoneyByTargetId" >
        UPDATE transfermoney  set balance = balance + #{count} where userId=#{id}
    </update>

    <select id="selectAll" resultType="java.util.Map">
        select * from transfermoney
    </select>
</mapper>
